@keyframes blood-sun-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105px);
  }
}

@keyframes diamond-pearl-slider {
  from {
    transform: translateX(105px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes blood-sun-color {
  from {
    background-color: rgb(116, 85, 219);
  }
  to {
    background-color: rgb(237, 70, 70);
  }
}

@keyframes diamond-pearl-color {
  from {
    background-color: rgb(237, 70, 70);
  }
  to {
    background-color: rgb(116, 85, 219);
  }
}

/**
MOBILE DEVICES
**/
@keyframes blood-sun-slider-mobile {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70px);
  }
}

@keyframes diamond-pearl-slider-mobile {
  from {
    transform: translateX(70px);
  }
  to {
    transform: translateX(0px);
  }
}

.buttonWrapper {
  width: 100%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: auto;
}

.buttonSlider {
  width: 150px;
  display: flex;
  border: 2px solid black;
  height: 50px;
  border-radius: 22px;
}

.button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
}

.themeTitle {
  color: white;
}

.buttonSlider.theme1 {
  animation: diamond-pearl-color 500ms forwards;
}

.buttonSlider.theme2 {
  animation: blood-sun-color 500ms forwards;
}

.button.theme1 {
  cursor: pointer;
  animation: diamond-pearl-slider 500ms forwards;
}

.button.theme2 {
  cursor: pointer;
  animation: blood-sun-slider 500ms forwards;
}

@media (max-width: 550px) {
  .buttonSlider {
    width: 100px;
    height: 30px;
  }
  .button {
    width: 25px;
    height: 25px;
  }
  .button.theme1 {
    animation: diamond-pearl-slider-mobile 500ms forwards;
  }

  .button.theme2 {
    animation: blood-sun-slider-mobile 500ms forwards;
  }
}
