@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-theme='dark'].contentWrapper {
  background-color: var(--dark-main-background-color);
}
[data-theme='light'].contentWrapper {
  background-color: var(--light-main-background-color);
}

.content {
  width: 100%;
  padding: 35px;
  min-height: 80vh;
  margin: 30px 0px;
  animation: fade-in 1500ms;
}

.questionBox {
  width: 100%;
  height: min-content;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-radius: 9px;
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.09);
}

[data-theme='dark'].questionBox {
  background-color: var(--dark-sub-background-color);
  color: var(--dark-font-color);
}
[data-theme='light'].questionBox {
  background-color: var(--light-main-background-color);
  color: var(--light-font-color);
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 150px;
  flex: 3;
  gap: 12px;
}

.questionTitle {
  font-size: 2.3rem;
}
.questionDescription {
  inline-size: 60vw;
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.8;
}
.ratingWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}
.tempWrapper {
  position: absolute;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.rating {
  color: white;
  font-size: 0.8rem;
}
.iconWrapper {
  position: relative;
}

.infoWrapper {
  width: max-content;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
}
[data-theme='dark'].infoWrapper {
  color: rgb(220, 220, 220);
}
[data-theme='light'].infoWrapper {
  color: rgb(117, 117, 117);
}

.questionSideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.answersBox {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.tagBox {
  display: flex;
  gap: 10px;
}
.tag {
  text-decoration: none;
  color: rgb(103, 161, 255);
  cursor: pointer;
}
.tag:hover {
  color: rgb(5, 20, 138);
}

.bottomBar {
  width: 100%;
  height: min-content;
  margin-top: 10px;
}
.answerButtonWrapper {
  width: max-content;
  height: max-content;
  transition: transform 500ms;
}
.answerButtonWrapper:hover {
  transform: scale(1.1);
}

.answerButton {
  text-decoration: none;
}

.ownerName {
  font-size: 1.1rem;
  margin: 10px 0px;
}

[data-theme='dark'].ownerName {
  color: rgb(220, 220, 220);
}
[data-theme='light'].ownerName {
  color: rgb(117, 117, 117);
}

@media (max-width: 550px) {
  .questionTitle {
    font-size: 2rem;
  }
  .questionDescription {
    font-size: 1rem;
  }
  .tagBox {
    font-size: 0.8rem;
  }
  .infoWrapper {
    font-size: 0.7rem;
  }
  .ownerName {
    font-size: 0.9rem;
  }
}
