@keyframes slide-in {
  from {
    transform: translate(100%, 0);
    opacity: 0.4;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.formWrapper {
  width: 50%;
  min-height: 700px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 20px 0px;
  animation: slide-in 1500ms;
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.09);
}

[data-theme='dark'].formWrapper {
  background-color: var(--dark-sub-background-color);
  color: var(--dark-font-color);
}

[data-theme='light'].formWrapper {
  background-color: var(--light-main-background-color);
  color: var(--light-font-color);
}
.header {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 3px;
}

.form {
  width: 80%;
}

.forgotPasswordWrapper {
  display: flex;
  justify-content: right;
  margin-top: -20px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  text-decoration: none;
}

[data-theme='dark'].linkWrapper {
  color: var(--dark-link-color);
}
[data-theme='light'].linkWrapper {
  color: var(--light-link-color);
}

[data-theme="light"].linkWrapper:hover{
  color: grey;
}
[data-theme="dark"].linkWrapper:hover{
  color: rgb(78, 236, 253);
}



@media (max-width: 1000px) {
  .header {
    font-size: 2.4rem;
  }
}

@media (max-width: 550px) {
  .formWrapper {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .header {
    font-size: 2rem;
  }
  .submitButton {
    height: 40px;
    font-size: 1rem;
  }
  .alternateLink {
    font-size: 0.9rem;
  }
  .loadingModal {
    display: none;
  }
}
