.navListItem {
  cursor: pointer;
  letter-spacing: 2px;
  transition: transform 500ms;
}
.navListItem:hover {
  transform: scale(1.05);
}

.navListLink {
  text-decoration: none;
}

[data-theme='dark'].navListLink {
  color: var(--dark-link-color);
}
[data-theme='light'].navListLink {
  color: var(--light-link-color);
}

.navListLink:hover {
  color: rgba(118, 123, 123, 0.781);
}

.hamburgerItem {
  cursor: pointer;
  letter-spacing: 2px;
}

.hamburgerItemLink {
  text-decoration: none;
  color: black;
}
.hamburgerItemLink:hover {
  color: rgb(71, 100, 228);
}
