.answerWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 100%;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionWrapper {
  width: 90%;
  min-height: 200px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 40px;
  gap: 20px;
  align-items: center;
}

[data-theme='dark'].formWrapper {
  background-color: var(--dark-sub-background-color);
  color: var(--dark-font-color);
}
[data-theme='light'].formWrapper {
  background-color: var(--light-sub-background-color);
  color: var(--light-font-color);
}

.questionTitle {
  font-size: 2rem;
}
.horizontalRule {
  width: 90%;
  height: 5px;
  border: none;
  border-radius: 9px;
  background-color: rgb(190, 180, 180);
  opacity: 0.3;
}
.questionDescription {
  font-size: 1.1rem;
  line-height: 1.5;
}

.infoBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: grey;
}

@media (max-width: 600px) {
  .questionTitle {
    font-size: 1.7rem;
  }
  .questionDescription {
    font-size: 1rem;
  }
  .infoBar {
    font-size: 0.8rem;
  }
}
