.editProfileWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 90%;
  height: min-content;
  padding: 20px;
  background-color: white;
  margin-top: 30px;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  width: 80%;
  height: 40px;
  padding: 10px;
}

.submitButton {
  margin: 10px 0px;
}
