@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.profileWrapper {
  width: 100vw;
  min-height: 100vh;
}

[data-theme='dark'].profileWrapper {
  background-color: var(--dark-main-background-color);
}

.mainbodyWrapper {
  width: 100%;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 1500ms;
}

.filterBarWrapper {
  width: 100%;
  margin: 15px 0;
}

[data-theme='dark'].filterBarWrapper {
  background-color: white;
}

[data-theme='light'].filterBarWrapper {
  background-color: white;
}

.filterBar {
  display: flex;
  justify-content: space-around;
}

.filter {
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.09);
  padding: 10px 0;
  cursor: pointer;
  user-select: none;
}

.highlighted {
  background-color: rgb(0, 0, 0);
  color: white;
}

[data-theme='dark'].highlighted {
  background-color: black;
}

[data-theme='light'].highlighted {
  background-color: white;
}

.filterRule {
  height: 5px;
}

[data-theme='dark'].filterRule {
  opacity: 0.7;
  border: none;
  background-color: rgb(0, 19, 55);
}
[data-theme='light'].filterRule {
  opacity: 0.3;
  background-color: rgb(197, 193, 193);
}

.statsPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  animation: slide-in 1500ms;
}

.questionPanel {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px 10px;
  border-radius: 10px;
  flex: 1;
}

.answerPanel {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px 10px;
  border-radius: 10px;
  flex: 1;
}

.panelHeader {
  color: rgb(78, 75, 75);
  font-size: 2.3rem;
  padding: 20px;
  padding-top: 30px;
}

.askQuestionButtonWrapper {
  display: flex;
  width: 100%;
  height: min-content;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.askQuestionButton {
  text-decoration: none;
}


@media (max-width: 900px) {
  .panelHeader {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .panelHeader {
    font-size: 1.5rem;
  }
  .statsPanel {
    flex-direction: column;
  }
  .askQuestionButton {
    width: 200px;
    height: 40px;
    font-size: 1rem;
  }
  .filter {
    padding: 8px;
    font-size: 0.9rem;
  }
}
