.cardWrapper {
  padding: 30px;
  width: 80%;
  max-width: 900px;
  height: min-content;
  background-color: white;
  position: relative;
  border-radius: 15px;
  margin: 50px 0px;
  color: black;
}

[data-theme='dark'].cardWrapper {
  background-color: var(--dark-sub-background-color);
  color: var(--dark-font-color);
}

[data-theme='light'].cardWrapper {
  background-color: var(--light-sub-background-color);
  color: var(--light-font-color);
}

.card {
  width: 100%;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.horizontalRule {
  width: 100%;
  height: 5px;
  background-color: rgb(222, 216, 216);
  border: none;
  border-radius: 5px;
  opacity: 0.5;
  margin: 20px 0px;
}

.diamondPearlCircle {
  position: absolute;
  border-radius: 50%;
  animation: flash-diamond infinite alternate 1500ms;
}

.sunBurnCircle {
  position: absolute;
  border-radius: 100%;
  animation: flash-sun infinite alternate 1500ms;
}

.bigCircle {
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
}

.mediumCircle {
  width: 80px;
  height: 80px;
  top: 60px;
  left: -40px;
}

.smallCircle {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 60px;
}

.continueReadingBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  margin: 15px 0;
  transition: transform 500ms;
}

@media (max-width: 550px) {
  .cardWrapper {
    width: 90%;
    margin-left: 10px;
  }
  .bigCircle {
    width: 80px;
    height: 80px;
    top: -40px;
    left: -40px;
  }

  .mediumCircle {
    width: 60px;
    height: 60px;
    top: 60px;
    left: -30px;
  }

  .smallCircle {
    width: 30px;
    height: 30px;
    top: -15px;
    left: 60px;
  }
}
