:root {
  --light-sub-background-color: rgb(241, 241, 241);
  --light-main-background-color: white;
  --light-link-color: rgb(0, 90, 150);
  --light-font-color: rgb(24, 24, 24);
  --dark-main-background-color: rgb(5, 62, 195);
  --dark-sub-background-color: rgb(25, 134, 251);
  --dark-link-color: rgb(255, 255, 255);
  --dark-font-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.starIcon {
  cursor: pointer;
  transition: transform 1500ms;
}
.rotateStarIcon {
  cursor: pointer;
  transition: transform 1500ms;
  transform: rotate(360deg);
}

.selectedlight {
  gap: 7px;
  align-items: center;
  display: flex;
  color: grey;
  padding-left: 35px;
}
.notSelectedlight {
  display: flex;
  gap: 7px;
  align-items: center;
  color: black;
  padding-left: 35px;
}

.selecteddark {
  gap: 7px;
  align-items: center;
  display: flex;
  padding-left: 35px;
}
.notSelecteddark {
  gap: 7px;
  align-items: center;
  display: flex;
  padding-left: 35px;
}
