*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.starIcon {
  cursor: pointer;
  transition: transform 1500ms;
}
.rotateStarIcon {
  cursor: pointer;
  transition: transform 1500ms;
  transform: rotate(360deg);
}

.selectedtheme1 {
  background-color: rgb(186, 155, 208);
}
.notSelectedtheme1 {
  background-color: rgb(138, 169, 236);
}

.selectedtheme2 {
  background-color: rgb(244, 95, 49);
}
.notSelectedtheme2 {
  background-color: rgb(242, 53, 53);
}
