.forgotPasswordWrapper {
  display: flex;
  justify-content: right;
  margin-top: -20px;
}

.link {
  text-decoration: none;
}

[data-theme='dark'].link {
  color: var(--dark-link-color);
}

[data-theme='light'].link {
  color: var(--light-link-color);
}
