.skeletonWrapper {
  width: 80%;
  max-width: 900px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0px;
  z-index: 0;
}

[data-theme='dark'].skeletonWrapper {
  background-color: var(--dark-sub-background-color);
}
[data-theme='light'].skeletonWrapper {
  background-color: var(--light-sub-background-color);
}

.headerSkeleton {
  width: 90%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.contentSkeleton {
  width: 60%;
}
