.cardWrapper {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin: 20px 0;
}

.light {
  background-color: rgba(241, 240, 240, 0.964);
  color: black;
}
.light:hover {
  background-color: rgb(229, 229, 229);
}

.dark {
  background-color: rgb(20, 119, 225);
  color: white;
}
.dark:hover {
  background-color: rgb(0, 79, 169);
}

.cardTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.horizontalRule {
  width: 90%;
  height: 5px;
  background-color: rgb(31, 74, 246);
  opacity: 0.2;
  border-radius: 9px;
}
.cardContent {
  width: 100%;
  font-size: 1.1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  white-space: pre-wrap;
}

.attachmentBox {
  margin-top: 15px;
}

@media (max-width: 900px) {
  .cardTitle {
    font-size: 1.3rem;
  }
  .cardContent {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .cardTitle {
    font-size: 1.1rem;
  }
  .cardContent {
    font-size: 0.9rem;
  }
}
