.listItem {
  font-size: 1.5rem;
  list-style: none;
  margin: 20px 0px;
  cursor: pointer;
}

.sidebarItemIcon {
  width: 20px;
  height: auto;
}

.theme1:hover {
  color: grey;
}
.theme2:hover {
  color: blue;
}
